{% autoescape off %}
    Тех. поддержка.<br>
    Имя пользователя - {{ user_name }}<br>
    {% if email %}
    Почта пользователя - {{ email }}<br>
    {% endif %}
    {% if phone %}
    Телефон - {{ phone }}
    {% endif %}
    {% if text %}
    Текст: <br>
    <i>{{ text }}</i>
    {% endif %}
{% endautoescape %}
