{% autoescape off %}
<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:"DejaVu Sans Condensed",serif;font-size:7.7px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:"DejaVu Sans Condensed",serif;font-size:7.7px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:"DejaVu Sans Condensed Bold",serif;font-size:7.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:"DejaVu Sans Condensed Bold",serif;font-size:7.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="{{ background_url }}" width=595 height=842></div>
<div style="position:absolute;left:51.00px;top:37.38px" class="cls_002"><span class="cls_002">Увага ! Оплат а даного рахунку означає згоду з умовами пост ачання т овару. Повідомлення про</span></div>
<div style="position:absolute;left:226.60px;top:46.27px" class="cls_002"><span class="cls_002">оплат у є</span></div>
<div style="position:absolute;left:43.90px;top:55.15px" class="cls_002"><span class="cls_002">обов'язковим, в іншому випадку не гарантується наявність товару на складі. Товар відпускається</span></div>
<div style="position:absolute;left:160.57px;top:64.03px" class="cls_002"><span class="cls_002">по факт у надходження грошових кошт ів</span></div>
<div style="position:absolute;left:93.65px;top:72.92px" class="cls_002"><span class="cls_002">на п/р Пост ачальника, самовивозом, за наявност і доручення т а паспорт у.</span></div>
<div style="position:absolute;left:42.12px;top:96.01px" class="cls_002"><span class="cls_002">Зразок заповнення плат іжного доручення</span></div>
<div style="position:absolute;left:42.12px;top:120.89px" class="cls_002"><span class="cls_002">Одержувач ТОВ «ХАББЕР»</span></div>
<div style="position:absolute;left:261.25px;top:133.33px" class="cls_002"><span class="cls_002">КРЕДИТ рах. N</span></div>
<div style="position:absolute;left:81.51px;top:139.25px" class="cls_002"><span class="cls_002">40357985</span></div>
<div style="position:absolute;left:42.12px;top:145.76px" class="cls_002"><span class="cls_002">Код</span></div>
<div style="position:absolute;left:274.28px;top:152.28px" class="cls_002"><span class="cls_002">26004056126911</span></div>
<div style="position:absolute;left:42.12px;top:158.20px" class="cls_002"><span class="cls_002">Банк одержувача</span></div>
<div style="position:absolute;left:200.84px;top:158.20px" class="cls_002"><span class="cls_002">Код банку</span></div>
<div style="position:absolute;left:211.50px;top:176.56px" class="cls_002"><span class="cls_002">380775</span></div>
<div style="position:absolute;left:42.12px;top:183.07px" class="cls_002"><span class="cls_002">ПАТ КБ «Приват Банк», М. КИЇВ</span></div>
<div style="position:absolute;left:39.16px;top:215.05px" class="cls_003"><span class="cls_003">Рахунок на оплату №23 від 02 липня 201</span></div>
<div style="position:absolute;left:39.16px;top:235.78px" class="cls_002"><span class="cls_002">Пост ачальник:</span></div>
<div style="position:absolute;left:105.49px;top:235.78px" class="cls_002"><span class="cls_002">ТОВ «ХАББЕР»</span></div>
<div style="position:absolute;left:105.49px;top:244.67px" class="cls_002"><span class="cls_002">П/р 26004056126911, Банк ПАТ КБ «Приват Банк», М. КИЇВ, МФО 380775</span></div>
<div style="position:absolute;left:105.49px;top:253.55px" class="cls_002"><span class="cls_002">Юр. адреса: 04073, м. Київ, вул. Куренівська, Будинок № 18, Офіс 7,</span></div>
<div style="position:absolute;left:105.49px;top:262.43px" class="cls_002"><span class="cls_002">код за ЄДРПОУ 40357985</span></div>
<div style="position:absolute;left:39.16px;top:283.16px" class="cls_002"><span class="cls_002">Покупець:</span></div>
<div style="position:absolute;left:105.49px;top:283.16px" class="cls_002"><span class="cls_002">{{ user.full_name }}</span></div>
<div style="position:absolute;left:39.16px;top:315.73px" class="cls_002"><span class="cls_002">Договір:</span></div>
<div style="position:absolute;left:105.49px;top:315.73px" class="cls_002"><span class="cls_002">№23 от  {{ current_date }}</span></div>
<div style="position:absolute;left:311.00px;top:326.39px" class="cls_002"><span class="cls_002">Кіл-</span></div>
<div style="position:absolute;left:40.94px;top:330.54px" class="cls_002"><span class="cls_002">№</span></div>
<div style="position:absolute;left:51.60px;top:330.54px" class="cls_002"><span class="cls_002">{{ type_of_invoice }}</span></div>
<div style="position:absolute;left:338.24px;top:330.54px" class="cls_002"><span class="cls_002">Од.</span></div>
<div style="position:absolute;left:382.06px;top:330.54px" class="cls_002"><span class="cls_002">Ціна</span></div>
<div style="position:absolute;left:467.35px;top:330.54px" class="cls_002"><span class="cls_002">Сума</span></div>
<div style="position:absolute;left:311.00px;top:335.28px" class="cls_002"><span class="cls_002">ст ь</span></div>
<div style="position:absolute;left:51.60px;top:346.53px" class="cls_002"><span class="cls_002">{{ type_of_invoice }} для користуванням платформою SmartLead2.0</span></div>
<div style="position:absolute;left:40.94px;top:355.41px" class="cls_002"><span class="cls_002">1</span></div>
<div style="position:absolute;left:51.60px;top:355.41px" class="cls_002"><span class="cls_002">використання її у зв`язку зі здійсненням електронної комерції,</span></div>
<div style="position:absolute;left:311.00px;top:355.41px" class="cls_002"><span class="cls_002">1</span></div>
<div style="position:absolute;left:338.24px;top:355.41px" class="cls_002"><span class="cls_002">послуга</span></div>
<div style="position:absolute;left:382.06px;top:355.41px" class="cls_002"><span class="cls_002">{{ amount }}</span></div>
<div style="position:absolute;left:467.35px;top:355.41px" class="cls_002"><span class="cls_002">{{ amount }}</span></div>
<div style="position:absolute;left:51.60px;top:364.30px" class="cls_002"><span class="cls_002">{% if number %}{{ number }}{% endif %}</span></div>
<div style="position:absolute;left:383.84px;top:386.80px" class="cls_002"><span class="cls_002">Разом:</span></div>
<div style="position:absolute;left:534.27px;top:386.80px" class="cls_002"><span class="cls_002">{{ amount }}</span></div>
<div style="position:absolute;left:39.16px;top:395.69px" class="cls_002"><span class="cls_002">Всього найменувань 1, на суму {{ amount }} грн.</span></div>
<div style="position:absolute;left:274.28px;top:437.14px" class="cls_002"><span class="cls_002">Виписав(ла):</span></div>
<div style="position:absolute;left:39.16px;top:457.87px" class="cls_002"><span class="cls_002">* *Увага!!! При заповненні платіжного доручення у графі `Призначення платежу` потрібно вказати: ID 6703 Роялті Договір 23</span></div>
<div style="position:absolute;left:39.16px;top:466.75px" class="cls_002"><span class="cls_002">від {{ current_date }}. Без ПДВ.</span></div>
</div>
</body>
</html>
{% endautoescape %}
